.env
.env.local
.env.*.local

.DS_Store

.hustleops/*
!.hustleops/.gitkeep

backups/**
!backups/
!backups/**/
!backups/**/.gitkeep

data/**
!data/
!data/**/
!data/**/.gitkeep
data/redis/.gitkeep
data/n8n/redis/.gitkeep

logs/**
!logs/
!logs/**/
!logs/**/.gitkeep

/docs/superpowers
